<!--STYLESHEET-->
<link type="text/css" rel="stylesheet" href="{{ '/assets/lib/3dhop/minimal/stylesheet/3dhop.css' | relative_url }}"/>
<!--SPIDERGL-->
<script type="text/javascript" src="{{ '/assets/lib/3dhop/minimal/js/spidergl.js' | relative_url }}"></script>
<!--JQUERY-->
<script type="text/javascript" src="{{ '/assets/lib/3dhop/minimal/js/jquery.js' | relative_url }}"></script>
<!--PRESENTER-->
<script type="text/javascript" src="{{ '/assets/lib/3dhop/minimal/js/presenter.js' | relative_url }}"></script>
<!--3D MODELS LOADING AND RENDERING-->
<script type="text/javascript" src="{{ '/assets/lib/3dhop/minimal/js/nexus.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/lib/3dhop/minimal/js/ply.js' | relative_url }}"></script>
<!--TRACKBALLS-->
<script type="text/javascript" src="{{ '/assets/lib/3dhop/minimal/js/trackball_sphere.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/lib/3dhop/minimal/js/trackball_turntable.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/lib/3dhop/minimal/js/trackball_turntable_pan.js' | relative_url }}"></script>
<script type="text/javascript" src="{{ '/assets/lib/3dhop/minimal/js/trackball_pantilt.js' | relative_url }}"></script>
<!--UTILITY-->
<script type="text/javascript" src="{{ '/assets/lib/3dhop/minimal/js/init.js' | relative_url }}"></script>

<div id="3dhop" class="tdhop" onmousedown="if (event.preventDefault) event.preventDefault()"><div id="tdhlg"></div>
<div id="toolbar">
    <img id="home"       title="Home"                  src="{{ '/assets/lib/3dhop/minimal/skins/dark/home.png' | relative_url }}"         /><br/> 
    <img id="zoomin"     title="Zoom In"               src="{{ '/assets/lib/3dhop/minimal/skins/dark/zoomin.png' | relative_url }}"       /><br/>
    <img id="zoomout"    title="Zoom Out"              src="{{ '/assets/lib/3dhop/minimal/skins/dark/zoomout.png' | relative_url }}"      /><br/>
    <img id="light_on"   title="Disable Light Control" src="{{ '/assets/lib/3dhop/minimal/skins/dark/lightcontrol_on.png' | relative_url }}" 
                                                            style="position:absolute; visibility:hidden;"/>
    <img id="light"      title="Enable Light Control"  src="{{ '/assets/lib/3dhop/minimal/skins/dark/lightcontrol.png' | relative_url }}" /><br/>
    <img id="full_on"    title="Exit Full Screen"      src="{{ '/assets/lib/3dhop/minimal/skins/dark/full_on.png' | relative_url }}" 
                                                            style="position:absolute; visibility:hidden;"/>
    <img id="full"       title="Full Screen"           src="{{ '/assets/lib/3dhop/minimal/skins/dark/full.png' | relative_url }}"         />
   </div>
    <canvas id="draw-canvas" style="background-image: url({{ '/assets/lib/3dhop/minimal/skins/backgrounds/light.jpg' | relative_url }})"/>
</div>
<script>
    var presenter = null;
    function actionsToolbar(action) {
  if(action=='home')
    presenter.resetTrackball();
  else if(action=='zoomin') 
    presenter.zoomIn();
  else if(action=='zoomout') 
    presenter.zoomOut(); 
  else if(action=='light' || action=='light_on') { 
    presenter.enableLightTrackball(!presenter.isLightTrackballEnabled()); lightSwitch(); } 
  else if(action=='full'  || action=='full_on') 
    fullscreenSwitch(); 
}
    
    function setup3dhop() { 
        presenter = new Presenter("draw-canvas");
    
        presenter.setScene({
            meshes: {
                "Point1" : { url: "{{ include.model-file }}" }
            },
            modelInstances : {
                "Model1" : { mesh : "Point1" }
            }
        });
    }
    
    $(document).ready(function(){
        init3dhop();
    
        setup3dhop();
    });
</script>
