<div id="viewer" class="w-100" style="height: 500px;"></div>
<button id="fullscreen-button" class="btn btn-primary m-2">View Full Screen</button>
<!-- https://github.com/cgwire/js-3d-model-viewer -->
<script src="https://cgwire.github.io/js-3d-model-viewer/dist/js-3d-model-viewer.js"></script>
<script >
   
    var modelPlayer = this.Js3dModelViewer
    const viewerElement = document.getElementById('viewer')
    const opts = {
        grid: true,
        trackball: false,
        background: 'rgb(100, 100, 100)'
    }
    const scene = modelPlayer.prepareScene(viewerElement, opts)
    modelPlayer.loadObject(scene, '{{ include.model }}')

    const fullScreenButton = document.getElementById('fullscreen-button')
    fullScreenButton.addEventListener('click', () => {
        modelPlayer.goFullScreen(viewerElement)
    })

</script>

