<div class="alert alert-warning alert-dismissible fade show mb-0 rounded-0 text-center" role="alert">
    <div class="h5"><strong>Please note:</strong> Materials in this collection may contain images, language, or other content that may be offensive or disturbing.</div>
    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#contentWarningModal">More Information</button>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- content warning Modal -->
<div class="modal fade" id="contentWarningModal" tabindex="-1" aria-labelledby="warningModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title h4" id="warningModalLabel">Offensive Content Notice</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>These materials are a product of a time and place in history and should be viewed within their historical context. To maintain historical accuracy, the materials appear as they were originally created to serve as historical evidence of the social mindsets, occurrences, behaviors, and norms of their time.</p>
                <p>They do not reflect the current views of the University of Idaho. For more information on how we treat archival materials with offensive or disturbing content, please see the University of Idaho Library Special Collections and Archives <a href="https://www.lib.uidaho.edu/special-collections/policies.html#offensive-material-in-archival-collections">Offensive Content Policy</a>.</p>
                <p>Content in this collection may include:</p>
                <ul>
                    <li>Historical content using racial slurs or other offensive language.</li>
                    <li>Disturbing and graphic images on injuries. These images are blurred and can only be viewed by clicking the image on the individual item page.</li>
                </ul>
            </div>
        </div>
    </div>
</div>