---
title: About Donald Crabtree
layout: page-narrow
permalink: /crabtree.html
---

<h2>About Donald E. Crabtree</h2>

<p>

Donald E. Crabtree (1912-1980) was an influential American experimental archaeologist, whose innovative efforts helped establish the discipline of experimental archaeology. Throughout his life, Crabtree developed his love of flintknapping into a true mastery of the practice, complete with his own distinct styles, technical innovations, and signature creative practices, along with a truly world class knowledge and understanding of stone tools and their creation. He would eventually found influential field schools that taught future flintknappers and ultimately help preserve the art and practice of contemporary flintknapping, with the schools themselves representing an important innovation in the field and practice of experimental archaeology. 
</p>

<p>
Despite his prominence and enduring impact to flintknapping and experimental archaeology, much of his personal story and biography are lesser known. Here we have curated resources about Donald Crabtree that provide further context to this collection, with the most recent and comprehensive being a new biography written by Crabtree's living descendent, his niece Julia Anderson.

</p>

<h3>Resources</h3>

<div class="row mt-3">
    {% for b in site.data.crabtree_about_bios %}
    <div class="col-md-6 mb-3">
        <div class="card card-body">
            <h4>{{ b.title }}</h4>
            {% if b.author %}<p class="ps-2">by {{ b.author }}</p>{% endif %}
            <p><small>{{ b.description }}</small></p>
            <a href="{{ b.link | relative_url }}" class="btn btn-sm btn-pride-gold stretched-link">View Article</a>
        </div>
    </div>
    {% endfor %}
</div>
